@{
    Layout = "_AdminLayout";

    ViewData["Title"] = "Record saling book";
}
<div class="row">
    
        <div class="card flex fill">
            <div class="card-header">
                <h5>Record saling book</h5>
            </div>
            <div>
                <canvas id="myChart1"></canvas>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <div>
                <script>
                    const labels = [@Html.Raw(ViewData["labels"])];

                    const data1 = {
                        labels: labels,
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: ['rgb(245, 13, 175)', 'rgb(24, 142, 7)', 'rgb(255, 99, 132)'],
                            borderColor: 'rgb(255, 99, 132)',
                            data: [@ViewData["totals"]],
                        }]
                    };

                    const config1 = {
                        type: 'bar',
                        data: data1,
                        options: {}
                    };

                    const myChart1 = new Chart(
                        document.getElementById('myChart1'),
                        config1
                    );
                </script>
            </div>
            <div>
                <a asp-action="ExportMovieList">Export Movie List</a>
            </div>
        </div>
</div>